<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="banner">
      <h1 class="banner__title"><a href="/">Shoe Shop</a></h1>
      <%= react_component "basket/BannerBasket",
        {
          imagePath: image_url("icon/basket.png"),
          basketID: basket_id,
          basketURL: baskets_show_path
        },
        { class: "banner-basket" }
      %>
    </div>
    <div class="main__container">
      <%= yield %>
    </div>
  </body>
</html>
